<!DOCTYPE html>
<html>
<head>
    <title id="titulo">TweetFeel</title>
    <link rel="stylesheet" href="/static/css/styles_login.css">
</head>
<body>
    <div class="form">
        <div class="title">TweetFeel</div>
        <div class="subtitle">Inicia tu camino</div>
        <form action="/login" method="post">
            <div class="input-container ic1">
                <input name="username" class="input" type="text" placeholder="Username" />
                <div class="cut"></div>
                <label for="username" class="placeholder">Usuario</label>
            </div>
            <div class="input-container ic2">
                <input name="password" class="input" type="password" placeholder="Password" />
                <div class="cut"></div>
                <label for="password" class="placeholder">Password</label>
            </div>
            <button type="submit" class="submit">Iniciar Sesión</button>
        </form>

        <button type="submit" class="submit">Registrarse</button>
    </div>
    <footer>
        <p>Copyright &copy; 2023 TweetFeel</p>
    </footer>
</body>
</html>

