<!DOCTYPE html>
<html>
        <head>
            <title id="titulo">TweetFeel 💻</title>
            <link rel="stylesheet" href="\static\css\styles_registrar.css">
        </head>
    <body>
      <section class="parent">
        <div class="container">TweetFeel, el aliado en tu camino</div>
      </section>
        <div class="form" action="/register" method="post">
            <div class="title">TweetFeel</div>
            <div class="input-container ic1">
              <input id="Usuario" class="input" type="text" placeholder=" " />
              <div class="cut"></div>
              <label for="Usuario" class="placeholder">Usuario</label>
            </div>
            <div class="input-container ic3">
                <input id="mail" class="input" type="text" placeholder=" " />
                <div class="cut"></div>
                <label for="Mail" class="placeholder">Mail</label>
              </div>
            <div class="input-container ic2">
              <input id="password" class="input" type="text" placeholder=" " />
              <div class="cut"></div>
              <label for="password" class="placeholder">Password</label>
            </div>
            <button type="submit" class="submit">Registrar</button>
          </div>
              <footer>
                  <p>Copyright &copy; 2023 TweetFeel</p>
              </footer>
    </body>
</html>
